$themes: (
  light: (
    bodyBackground: #CFD0CF,
    textColor: #434344,
    flipCardCoverColor: linear-gradient(45deg, rgba(34,171,147,1) 0%, rgba(25,102,141,1) 100%),
    flipCardFrontBorder: 5px solid #fff,
    modalContentBackground: #fff,
    modalContentBorder: none,
    modalContentBorderRadius: none,
    formRadioColor: rgba(34,171,147,1),
  ),
  dark: (
    bodyBackground: #212836,
    textColor: hsla(0, 0%, 100%, 0.5),
    flipCardCoverColor: linear-gradient(45deg, #213d75 0%, #19668d 100%),
    flipCardFrontBorder: 1px solid #fff,
    modalContentBackground: #19668d,
    modalContentBorder: 9px solid,
    modalContentBorderRadius:9px,
    formRadioColor: hsla(0, 0%, 100%, 0.5),
  ),
  pink: (
    bodyBackground: #6625d8,
    textColor: hsla(0, 0%, 100%, 0.5),
    flipCardCoverColor: linear-gradient(45deg, #f1578b 0%, #9C27B0 100%),
    flipCardFrontBorder: 1px solid #fff,
    modalContentBackground: #6625d8,
    modalContentBorder: 9px solid,
    modalContentBorderRadius: 9px,
    formRadioColor: #f1578b,
  ),
  purple: (
    bodyBackground: #5763ab,
    textColor: hsla(0, 0%, 100%, 0.5),
    flipCardCoverColor: linear-gradient(45deg, #d2e0f5 0%, #82a6d6 65%),
    flipCardFrontBorder: 1px solid #fff,
    modalContentBackground: #5763ab,
    modalContentBorder: 9px solid,
    modalContentBorderRadius: 9px,
    formRadioColor: #82a6d6,
  ),
  blue: (
    bodyBackground: #1a57cf,
    textColor: hsla(0, 0%, 100%, 0.5),
    flipCardCoverColor: linear-gradient(45deg, #fee074 0%, #feb856 100%),
    flipCardFrontBorder: 1px solid #fff,
    modalContentBackground: #1a57cf,
    modalContentBorder: 9px solid,
    modalContentBorderRadius: 9px,
    formRadioColor: #fee074,
  ),
);